<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href=@Url.Content("~/css/browser-override.css") rel="stylesheet" />
    <link href=@Url.Content("~/vendor/bootstrap/3.3.5/css/bootstrap.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/vendor/jquery-ui/1.12.1/jquery-ui.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/css/basic.css") rel="stylesheet" />
    <link href=@Url.Content("~/css/blog-layout.css") rel="stylesheet" />
    <link href="@Url.Content("~/vendor/font-awesome/4.7.0/css/font-awesome.min.css")" rel="stylesheet"/>
</head>
<body>
    <div class="blog-container">
        <div class="full-width-container">
            @RenderPage("_Blog_Header.cshtml")
        </div>
        <div class="container blog-body-container">
            @RenderBody()
        </div>
        <div class="full-width-container blog-footer-container">
            <div class="container">
                @RenderPage("_Blog_Footer.cshtml")
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
