<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/css/browser-override.css" rel="stylesheet" />
	<link href="~/vendor/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/home.css" rel="stylesheet" />
	<link href="~/vendor/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
	<link href="~/css/basic.css" rel="stylesheet" />
	<link href="~/css/blog-layout.css" rel="stylesheet" />
</head>
<body>
	<div class="container blog-container">
		<div class="row">
			<div class="col-md-12 blog-title">
				<p class="title-text">@Model.GlobalBlogData.BlogData.BlogTitle</p>
				<span class="description-text">────&nbsp;@Model.GlobalBlogData.BlogData.Description</span>
			</div>
		</div>
		<div class="row navigation">
			<ul class="horizontal-list clearfix">
				<li class="menuItem">@Html.ActionLink("首页", "Index","Home")</li>
				<li class="menuItem">@Html.ActionLink("新随笔","NewPost","BlogPost")</li>
				<li class="menuItem">@Html.ActionLink("工具", "")</li>
				<li class="menuItem">@Html.ActionLink("资源", "")</li>
				<li class="menuItem">@Html.ActionLink("订阅", "")</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12 blog-body">
				@RenderBody()
			</div>
		</div>
		<div class="row">
            <div class="blog-footer">
                <p> @@Copyright Freddy </p>
            </div>
		</div>
	</div>
</body>
</html>
