@{
    Layout = "~/Views/Shared/_Base_Blog_Layout.cshtml";
}

@using UniqueBlog.Controllers.Models;
@using UniqueBlog.Web.Extensions;

@model UniqueBlog.Controllers.Models.ViewModels.PostViewModel

<!--stylesheet-->
<link href="~/vendor/bootstrap-tag-input/0.8.0/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="~/vendor/ckeditor/4.6.0/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
<link href="~/css/tag-input.css" rel="stylesheet" />
<link href="~/css/post-new.css" rel="stylesheet" />
<link href="~/css/predefined-post-extra-style.css" rel="stylesheet" />

@section scripts
{
    @Html.RenderRequireJS("/app/post/new-post")
}

@using (Html.BeginForm("SavePost", "BlogPost", FormMethod.Post, new { id = "postform" }))
{
    @Html.Hidden("postId",Model.PostId)
    <div id="post-editor" class="post-edit-container">
        <div class="form-group">
            <label for="博文标题" class="control-label">博文标题:</label>
            <div>
                @Html.TextBoxFor(post => post.PostTitle, new { placeholder = "请输入标题", @class = "form-control" })
            </div>
        </div>
        <div class="form-group post-editor-container">
            @Html.TextAreaFor(post=>post.PostContent, new { id = "postEditor", name = "postEditor", cols = "20", rows = "2" , @class="ckeditor"})
        </div>
        <div class="form-group">
            <label for="选择所属分类">选择所属分类：</label>
            <div class="row" id="categoryList">
                @foreach (SelectedItem item in Model.CategoryList)
                {
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        @Html.CheckBox("chkCategory" + item.ItemId, item.IsSelected, new { @class = "category-item", categoryName = item.ItemName, categoryId = item.ItemId })
                        @item.ItemName
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label for="选择相关标签">选择相关标签：</label>
            <div>
                <input type="text" id="postTag" value="@(Model.PostTags==null?"":string.Join(",",Model.PostTags))"/>
            </div>
        </div>

        <div class="form-group">
           @if (Model.PostViewType == UniqueBlog.Controllers.Models.ViewModels.ViewType.New)
           {
                <input id="btnPublish" type="button" value="发布" class="button-default button-post-operation" />
                <input id="btnSaveDraft" type="button" value="存为草稿" class="button-default button-post-operation" />
           }
           else
           {
                <input id="btnSave" type="button" value="保存修改" class="button-default button-post-operation" />
           }
            <input id="btnCancel" type="button" value="取消" class="button-default button-post-operation-cancel" />
        </div>
    </div>
}