@{
    Layout = "~/Views/Shared/_Base_Blog_Layout.cshtml";
}
@using UniqueBlog.Web.Extensions
@model UniqueBlog.Controllers.Models.ViewModels.PostShowViewModel

<link href="~/vendor/ckeditor/4.6.0/plugins/codesnippet/lib/highlight/styles/vs.css" rel="stylesheet" />
<link href="~/css/post.css" rel="stylesheet" />
<link href="~/css/predefined-post-extra-style.css" rel="stylesheet" />

@section scripts
{
    @Html.RenderRequireJS("/app/post/post")
}
<div class="post-container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="post-title">
                    <a href="@Request.Url.PathAndQuery">@Model.Post.Title</a>
                </div>
                <div class="post-content">
                    @(new HtmlString(Model.Post.Content))
                </div>
            </div>
            <div class="content-block">
                <div class="post-comment-title">评论列表：</div>
                @if (Model.Post.Comments.Count == 0)
                {
                    <div class="no-footprint"><img style="width:32px;height:32px;" src="~/images/left_footprint.png">还没有留下任何足迹！</div>
                }
                @{ var index = 1;}
                @foreach (var comment in Model.Post.Comments)
                {
                    <div class="post-comment-item">
                        <div class="comment-info">
                            <a class="comment-floor">@string.Format("#{0}楼", index)</a>&nbsp;
                            <span>@comment.CreatedDate.ToString("yyyy-MM-dd HH:mm")</span>&nbsp;
                            <span>@comment.UserName</span>
                            <a class="pull-right operation">回复</a>
                            <a class="pull-right operation">引用</a>
                        </div>
                        <div class="comment-content">
                            @(new HtmlString(comment.CommentContent))
                        </div>
                    </div>
                    index++;
                }
            </div>

            <div class="content-block publish-comment">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtNickName" placeholder="昵称">
                </div>
                <div class="form-group">
                    <textarea id="commentEditor" name="commentEditor" class="ckeditor"></textarea>
                </div>
                <div class="form-group">
                    <input type="button" class="button-default button-publis-comment" value="发表评论" />
                    <input type="button" class="button-default button-publis-comment" value="清空内容" />
                </div>
            </div>
        </div>
    </div>
</div>