@{
    Layout = null;
}
<link href="~/css/post-list.css" rel="stylesheet" />

@model UniqueBlog.Controllers.Models.ViewModels.PostListViewModel

<div class="post-list-container">
    @if (Model.PostList.Count() == 0)
    {
        <div style="margin-top:10px;">
            <span>暂无任何文章!!!</span>
        </div>
    }
    @foreach (var postItem in Model.PostList)
    {
        string title = postItem.Title;
        string content = postItem.PlainContent;
        <div class="post-item">
            <div class="post-title">
                @Html.ActionLink(title, "Post", new { id = postItem.Id })
                @if (postItem.Draft)
                {
                  <span class="draft">(Draft)</span>
                }
                @if (Model.HasUserLogin)
                {
                    @Html.ActionLink("【编辑】", "EditPost", "BlogPost", new { id = postItem.Id }, new { @class = "edit-link" });
                }
            </div>
            <div class="post-item-brief post-item-hidden">
                @Html.Raw(content != null ? content : "")
            </div>
            <div class="post-item-detail clearfix">
                <span>@postItem.CreatedDate.ToString("yyyy-MM-dd HH:mm")</span>
                <span class="read">阅读(200)</span>
                <span class="comment">评论(10)</span>
            </div>
        </div>
    }

    @*load post list synchronously*@
    @Html.Partial("~/Views/Shared/Pagination/Pagination.cshtml", Model.PageNavigation)

    @*load post list asynchronously*@
    @*@Html.Partial("~/Views/Shared/Pagination/AsyncPagination.cshtml", Model.PageNavigation)*@
</div>